.register_container_main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../../Assets/homepageassets/bglogin.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.register_form {
    padding: 30px 10px;
}

.register_image_container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.forgot_title_register {
    color: #000;
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    font-weight: 800;
    margin-top: 1%;
}

@media(max-width:768px) {
    .register_container_main {
        height: auto;
    }
}