.flight_container {
    background-image: url('../../Assets/homepageassets/flightbg.png');
    background-repeat: no-repeat;
    height: 100vh;
}

.content_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
    flex-direction: column;
}

.about_text {
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 74px;
    text-transform: uppercase;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_link {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 0.18px;
    text-decoration: none;
}

.search_container {
    background: #383C41;
    padding: 30px 5px;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
}

.trip_type_container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 750px;
}

/*  */
.trip_type_button {
    width: 8em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 1px 1px 1px #c5c5c5,
        -1px -1px 2px #ffffff;
}

.trip_type_button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #e4a70a 0%, #ebd295 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
    color: white !important;
}

.trip_type_button:hover::before {
    width: 9em;
    color: white !important;
}

.interest_free_container {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    border: 1px solid #3BFFA7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    margin-top: 2%;
}

.interest_free {
    color: #3BFFA7;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
}

.interest_free_tabby {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
    max-width: 1700px;
}

.tabby_btn {
    background-color: #3bffb8;
    padding: 6px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

}

/*  */

/* .trip_type_button {
    padding: 10px 20px;
    background-color: #e0e0e0;
    border: none;
    cursor: pointer;
}

.trip_type_button.active {
    background-color: #007bff;
    color: white;
} */

.form_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #f6faf9;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px 20px;
    border-radius: 5px;
}

.form_group {
    display: flex;
    flex-direction: column;
}

.form_input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search_button_container {
    margin-top: 20px;
}

.search_button {
    padding: 15px 30px;
    border-radius: 5px;
    background: #E4A70A;
    color: white;
    cursor: pointer;
    border: none;
}
.sliderconatiner_trending_flight{
    width: 80%;
    margin: auto;
}

@media(max-width:768px) {
    .about_text {
        font-size: 30px;
    }
}

@media(max-width:450px) {
    .about_text {
        font-size: 24px;
    }
}