.HomeHeaderSection_container {
    height: 100vh;
}

.card_container_image {
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 350px;
    border-radius: 51px;
    border: 4.443px solid #FFF;
    background-color: transparent !important;
}

.slider_main_container {
    background-color: transparent !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay_text_container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 30px;
}
.head_desktop_section{
    display: block;
}
.head_mobile_section{
    display: none;
}


.overlay_text {

    color: #FFF;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.background_image {
    position: relative;
}

.content_overlay {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1700px;
    padding-top: 13%;
}

.background_image_container {
    background-color: transparent !important;
}

.slider_container_hero_section {
    width: 100%;
    max-width: 650px !important;
    margin: 0 auto;
    background-color: transparent !important;
}

.wrap_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    height: 100vh;
}

.explore_btn {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.35);
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(2.2769110202789307px);
    padding: 18px 7px;
    width: 100%;
    max-width: 164px;
    color: white;
    margin-top: 5%;
}

.card_container {
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 350px;
    border-radius: 51px;
    border: 4px solid #FFF;
    background-color: transparent !important;
}

.headersection_h1_tag {
    color: #FFF;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 71.084px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.header_p_tag {
    color: #FFF;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 19.992px;
    font-style: normal;
    font-weight: 600;
    line-height: 152.744%;
    letter-spacing: 0.6px;
}


@media(max-width:1700px) {
    .content_overlay {
        position: absolute;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 5%;
    }

}

@media(max-width:768px){
    .head_desktop_section{
        display: none;
       
    }
    .head_mobile_section{
        display: block;
        width: 100%;
    }
}