.card_image {
    width: 100%;
    height: 100%;
    max-height: 180px !important;
}

.chooseexperience {
    color: #000;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 8%;
}

.topdestination {
    color: #000;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 3%;
}

.slider_item {
    padding: 0 10px;
    display: flex;
    gap: 20px;
}

.subtitle_deleteicon {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.card_class_travel_guide {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    height: 100% !important;
    max-height: 500px !important;
}

.slider_package_container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* .slider_item {
    display: flex;
    gap: 20px;
} */


.card_title {
    color: #000;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

.card_description {
    color: #000;
    text-align: justify;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    margin-top: 1%;
}

/* From Uiverse.io by cssbuttons-io */
.read_more_btn {
    font-size: 14px;
    padding: 8px 15px;
    font-weight: 500;
    background: #e4a70a;
    color: white;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 0.6em;
    cursor: pointer;
}

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0.6em;
    margin-top: -0.25em;
    background: #e4a70a;
}

.label {
    position: relative;
    top: -1px;
}

.transition {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 500ms;
    background: #e4a70a;
    border-radius: 9999px;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.read_more_btn:hover .transition {
    width: 14em;
    height: 14em;
    background: #e4a70a;
}

.read_more_btn:active {
    transform: scale(0.97);
}

@media(max-width:'1000px') {
    .card_class_travel_guide {
        margin-top: 4%;
    }
}

@media(max-width:768px) {
    .topdestination {
        font-size: 24px;
        margin-top: 1%;
    }
}

@media(max-width:450px) {
    .topdestination {
        font-size: 18px;
        margin-top: 1%;
    }
}